.modal {
    display: none;
    position: fixed; /* Keep it fixed in place */
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto; /* Allow the modal to scroll if necessary */
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(0.5px);
}

.modal.show {
    display: block;
}

.modal-content {
    background-color: #fefefe;
    padding: 40px;
    border-radius: 15px;
    margin: auto; 
    width: 55%;
    max-width: 65%; 
    position: relative;
    top: 50%; 
    transform: translateY(-50%); 
    box-sizing: border-box; 
    max-height: 80vh;
    overflow-y: auto;
}



.close {
    color: #000000;
    float: right;
    font-size: 25px;
    margin-top: -20px;
    margin-right: -10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@media (max-width: 1200px) {
    .modal-content{
        width:70%;
        max-width: 90%;
    }
}

@media (max-width: 850px) {
    .modal-content{
        width: 80%;
        max-width: 100%;
    }
}

@media (max-width: 425px) {
    .modal-content{
        width: 90%;
        max-width: 100%;
        padding: 20px;
    }
}