@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap');


.sidebar-control{
    display: flex;
    flex-direction: row;
}

.sidebar {
    height: 100vh;
    width: 260px;
    position: fixed;
    left: 0;
    background-color: white;
    padding-top: 20px;
    transition: transform 0.3s ease;
    top: 50%;
    transform: translateY(-50%);
    filter: drop-shadow(4px 0px 20px rgba(108, 108, 108, 0.07));
}

.sidebar-toggle {
    display: none;
}

.logo{
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-3px);
    margin-bottom: 0;
    margin-top: 30px;
}

.sidebar h2 {
    font-weight: 400;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.sidebar h3 {
    margin-top: 0;
    font-weight: 600;
    text-align: center;
    color: white;
    font-size: 20px;
}

.sidebar ul {
    list-style-type: none;
    margin: 20px;
    margin-top: 30px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;

}

.sidebar ul li {
    padding: 8px;
    padding-top: 6px;
    margin-top: 10px;
}

.opened {
    color: white;
    font-size: 40px;
}

.sidebar ul li a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    display: block;
    color: rgba(0, 0, 0, 0.861);
    text-decoration: none;
    font-size: 22px;
    text-align: left;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 5px;
    padding-left: 15px;
}

.sidebar ul li a:hover {
    border-radius: 10px;
    background-color: #000000d1;
    color: white;
}

.sidebar-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

/* Hide the sidebar by default in mobile view */
.sidebar.open {
    transform: translateX(0);
}

@media (max-width: 1200px) {
    .sidebar {
        width: 220px;
    }

}

@media screen and (max-width: 850px) {
    .logo{
        margin-top: 50px;
    }
    .sidebar {
        width: 200px;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 1000;
        top: 0;
        height: 100%;
    }

    .sidebar.open {
        filter: drop-shadow(4px 0px 30px rgba(108, 108, 108, 0.333));
    }

    .sidebar-toggle {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        background-color: #111;
        color: white;
        border: none;
        font-size: 20px;
        cursor: pointer;
        z-index: 1001;
    }
}